* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 160px;
    align-items: center;
    background: linear-gradient(180deg, #004650 5.88%, rgba(0, 70, 80, 0.00) 95.29%);
}

.Logo {
    width: 200px;
    height: auto;
    margin-left: 2%;
}

img[src="img/LogoRecifeTecnologia.png"] {
    width: 200px;
}

.Icons {
    display: flex;
    margin-left: 70%;
    column-gap: 10px;
    align-items: center;
}

header img[src="img/imgLupa.png"] {
    width: 30px;
}

header img[src="img/imgSino.png"] {
    width: 25px;
}

header img[src="img/imgusuario.png"] {
    width: 28px;
}

.Container {
    display: flex;
}

.LinksTelas {
    display: flex;
    margin-left: 2%;
}

nav img[src="img/imgusuario.png"] {
    width: 30px;
}

h3 {
    column-gap: 10px;
    margin-top: 25px;
}

li {
    list-style: none;
    width: 210px;
}

li a {
    display: flex;
    margin-top: 10%;
    column-gap: 15px;
    align-items: center;
    color: black;
    text-decoration: none;
}

li a:hover {
    background-color: #dddddd;
}

.Container-2 {
    display: flex;
    margin-left: 2%;
    flex-direction: column;
}

.Container-3 {
    display: flex;
    margin-left: 15%;
    width: 1100px;
    flex-direction: column;
}



.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Aumenta o raio do arredondamento para 15px (ajuste conforme preferir) */
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
}

th {
  background-color: #f7f7f7;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

tr:hover {
  background-color: #f0f0f0;
}


footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg, #E5751F -3.07%, rgba(229, 117, 31, 0.00) 100.72%);
  height: 8%;
}



/* Para telas menores, ajuste o tamanho do cabeçalho e alinhe os ícones centralmente */
@media (max-width: 768px) {
  header {
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Logo {
    margin: 0;
  }

  .Icons {
    margin: 10px 0;
  }

  .Icons a {
    margin: 5px;
  }
}

/* Ajuste o menu de links para telas menores */
@media (max-width: 768px) {
  .LinksTelas {
    flex-direction: column;
    align-items: center;
  }

  li a {
    column-gap: 0;
  }

  li {
    width: 100%;
  }
}

/* Ajuste o tamanho do conteúdo principal para telas menores */
@media (max-width: 768px) {
  .Container-3 {
    width: 100%;
    margin-left: 0;
  }
}

/* Ajuste o tamanho dos botões para telas menores */
@media (max-width: 768px) {
  .Buttons {
    margin-top: 10px;
    width: auto;
    flex-direction: row;
  }

  .Buttons button {
    margin: 0 10px;
  }
}
