* {
    padding: 0;
    margin: 0;
}
/* Estilos para o corpo (body) */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para o cabeçalho */
header {
    display: flex;
    height: 180px;
    margin-bottom: 100px;
    background: linear-gradient(180deg, #004650 5.88%, rgba(0, 70, 80, 0.00) 95.29%);
}
#logoPrincipal {
     display: flex;
     margin-left: 50px;
     margin-top: 23px;
}

#iconUsuario {
    margin-left: 94%;
    margin-top: -10%;
}
.navegaveis {
    font-size: medium;
    margin-top: 120px;
    margin-right: 200px;
    width: 218px;
    height: 200px;
    margin-left: 2%;
    float: left;
}

#cadastroUsuario {
    width: 36px;
    margin-left: -2%;
    margin-top: 2px;
}
 
/* Estilos para a seção principal */
.conteudoPrincipal1 {
    display: grid;
    width: 360px;
    height: 180px;
    padding: 20px;
    margin-top: 100px;
    background-color: rgb(226, 226, 226);
    border: 1px solid #cacaca;
    box-shadow: 2px 4px 5px #555555;
    border-radius: 25px;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: oblique;
    }

    .conteudoPrincipal2 {
    display: grid;
    width: 360px;
    height: 180px;
    padding: 20px;
    margin-top: 100px;
    background-color: rgb(226, 226, 226);
    border: 1px solid #cacaca;
    box-shadow: 2px 4px 5px #555555;
    border-radius: 25px;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: oblique;
    }

    .conteudoPrincipal3 {
    display: grid;
    width: 360px;
    height: 180px;
    padding: 20px;
    margin-top: 100px;
    background-color: rgb(226, 226, 226);
    border: 1px solid #cacaca;
    box-shadow: 2px 4px 5px #555555;
    border-radius: 25px;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: oblique;
    }

    .conteudoPrincipal4 {
    display: grid;
    width: 360px;
    height: 180px;
    padding: 20px;
    margin-top: 100px;
    background-color: rgb(226, 226, 226);
    border: 1px solid #cacaca;
    box-shadow: 2px 4px 5px #555555;
    border-radius: 25px;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: oblique;
    }

    .conteudoPrincipal5 {
    display: grid;
    width: 360px;
    height: 380px;
    padding: 20px;
    margin-top: 100px;
    background-color: rgb(226, 226, 226);
    border: 1px solid #cacaca;
    box-shadow: 2px 4px 5px #555555;
    border-radius: 25px;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: oblique;
    }

/* Estilos para o rodapé */
footer {
        background: linear-gradient(0deg, #E5751F -3.07%, rgba(229, 117, 31, 0.00) 100.72%);
        color: white;
        text-align: center;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
}

/* Estilos para tornar as imagens responsivas */
img {
    max-width: 100%;
    height: auto;
}