
* {
   padding: 0;
   margin: 0;
}
/* Estilos para o corpo (body) */
body {
   font-family: Arial, sans-serif;
   background-color: #f0f0f0;
}

/* Estilos para o cabeçalho */
header {
   display: flex;
   justify-content: space-between;
   height: 180px;
   background: linear-gradient(180deg, #004650 5.88%, rgba(0, 70, 80, 0.00) 95.29%);
   
}


#logoPrincipal {
    display: flex;
    margin-left: 50px;
    margin-top: 23px;

}

#iconUsuario {
   display: flex;
   align-items: center;
   margin-right: 3%;
   margin-top: 2%;
   height: 35px;
   width: 35px;

}


.navegaveis {
   font-size: medium;
   margin-top: 5%;
   margin-right: 5%;
   width: 218px;
   height: 200px;
   margin-left: 4%;
   float: left;
}

#cadastroUsuario {
   width: 36px;
   margin-left: -2%;
   margin-top: 2px;
}

li {
   list-style: none;
}


li a {
   display: flex;
   margin-top: 10%;
   column-gap: 15px;
   align-items: center;
   color: black;
   text-decoration: none;
}


.forminho {
   height: 40px;
}

.forminho2 {
   height: 180px;

}

.form-label {
   display: flex;
}

.chat {
   position: relative;
}
.input-group {
   display: flex;
   align-items: flex-end;
   width: 375px;
}

.btn-outline-secondary {
   border-color: #000000;
   color: #000000;
}
.input-group button:hover {
   background: #004650;
   border-color: #004650;
}


.col-md-6 {
   width: 750px;
   margin-bottom: none;
   padding-bottom: none;
}


.submit-cad {
   padding: 2px;
   width: 75px;
   border-radius: 5px;
   border:#E5751F solid 1px;
   font-size: 12px;
}

.submit-cad:hover {
   background:#E5751F
}


/* Estilos para o rodapé */
footer {
       background: linear-gradient(0deg, #E5751F -3.07%, rgba(229, 117, 31, 0.00) 100.72%);
       color: white;
       text-align: center;
       height: 8%;
       display: flex;
       justify-content: center;
       align-items: center;
       position: fixed;
       bottom: 0;
       left: 0;
       right: 0;
}

/* Estilos para tornar as imagens responsivas */
img {
   max-width: 100%;
   height: auto;
}






.card-bordered {
   border: 1px solid #ebebeb;
}

.card {
   border: 0;
   border-radius: 0px;
   margin-bottom: 30px;
   -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
   box-shadow: 0 2px 3px rgba(0,0,0,0.03);
   -webkit-transition: .5s;
   transition: .5s;
}


body {
   background-color: #f9f9fa
}

.card-header:first-child {
   border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.card-header {
   display: -webkit-box;
   display: flex;
   -webkit-box-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   align-items: center;
   padding: 15px 20px;
   background-color: transparent;
   border-bottom: 1px solid rgba(77,82,89,0.07);
}

.card-header .card-title {
   padding: 0;
   border: none;
}

h4.card-title {
   font-size: 17px;
}

.card-header>*:last-child {
   margin-right: 0;
}

.card-header>* {
   margin-left: 8px;
   margin-right: 8px;
}

.btn-secondary {
   color: #4d5259 !important;
   background-color: #e4e7ea;
   border-color: #e4e7ea;
   color: #fff;
}

.btn-xs {
   font-size: 11px;
   padding: 2px 8px;
   line-height: 18px;
}
.btn-xs:hover{
   color:#fff !important;
}

.card-title {
   font-family: Roboto,sans-serif;
   font-weight: 300;
   line-height: 1.5;
   margin-bottom: 0;
   padding: 15px 20px;
   border-bottom: 1px solid rgba(77,82,89,0.07);
}


.ps-container {
   position: relative;
}

.ps-container {
   -ms-touch-action: auto;
   touch-action: auto;
   overflow: hidden!important;
   -ms-overflow-style: none;
}

.media-chat {
   padding-right: 64px;
   margin-bottom: 0;
}

.media {
   padding: 16px 12px;
   -webkit-transition: background-color .2s linear;
   transition: background-color .2s linear;
}

.media .avatar {
   flex-shrink: 0;
}

.avatar {
   position: relative;
   display: inline-block;
   width: 36px;
   height: 36px;
   line-height: 36px;
   text-align: center;
   border-radius: 100%;
   background-color: #f5f6f7;
   color: #8b95a5;
   text-transform: uppercase;
}

.media-chat .media-body {
   -webkit-box-flex: initial;
   flex: initial;
   display: table;
   text-align: start;
}

.media-body {
   min-width: 0;
}

.media-chat .media-body p {
   position: relative;
   width: 620px;
   padding: 6px 8px;
   margin: 4px 0;
   background-color: #f5f6f7;
   border-radius: 3px;
   font-weight: 100;
   color:#9b9b9b;
}

.media>* {
   margin: 0 8px;
}

.media-chat .media-body p.meta {
   background-color: transparent !important;
   padding: 0;
   opacity: .8;
}

.media-meta-day {
   -webkit-box-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   align-items: center;
   margin-bottom: 0;
   color: #8b95a5;
   opacity: .8;
   font-weight: 400;
}

.media {
   padding: 16px 12px;
   -webkit-transition: background-color .2s linear;
   transition: background-color .2s linear;
}

.media-meta-day::before, .media-meta-day::after {
   content: '';
   -webkit-box-flex: 1;
   flex: 1 1;
   border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
   content: '';
   -webkit-box-flex: 1;
   flex: 1 1;
   border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
   margin-left: 16px;
}

.media-chat.media-chat-reverse {
   padding-right: 12px;
   padding-left: 64px;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
   flex-direction: row-reverse;
}

.media-chat {
   padding-right: 64px;
   margin-bottom: 0;
}

.media {
   padding: 16px 12px;
   -webkit-transition: background-color .2s linear;
   transition: background-color .2s linear;
}

.media-chat.media-chat-reverse .media-body p {
   float: right;
   clear: right;
   background-color:  #004650;
   color: #fff;
}

.media-chat .media-body p {
   position: relative;
   padding: 6px 8px;
   margin: 4px 0;
   background-color: #f5f6f7;
   border-radius: 3px;
}


.bt-1 {
   border-top: 1px solid #004650 !important;
}

.publisher {
   position: relative;
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   padding: 12px 20px;
   background-color: #E5751F;
}

.publisher>*:first-child {
   margin-left: 0;
}

.publisher>* {
   margin: 0 8px;
}

.publisher-input {
   -webkit-box-flex: 1;
   flex-grow: 1;
   border: none;
   outline: none !important;
   background-color: transparent;

}


button, input, optgroup, select, textarea {
   font-family: Roboto,sans-serif;
   font-weight: 300;
}

.publisher-btn {
   background-color: transparent;
   border: none;
   color: #000000;
   font-size: 16px;
   cursor: pointer;
   overflow: -moz-hidden-unscrollable;
   -webkit-transition: .2s linear;
   transition: .2s linear;
}

input::placeholder {
   color: #000000;
}
